@import "color";

$searchBar-background: #edede9;

nav {
	position: sticky;
	top: 0;
	background-color: $background-color_white;
	z-index: 50;
	padding: 16px 0;
	box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 6px -1px, rgba(0, 0, 0, 0.03) 0px 2px 4px -1px;
	.theHeader {
		max-width: 1660px;
		display: grid;
		grid-template-columns: 42.5% 15% 42.5%;
		justify-content: space-between;
		align-items: center;
		margin: auto;
		padding: 0 1%;

		.navItems {
			justify-self: start;
			a {
				text-decoration: none;
				margin: 0 10px;
				vertical-align: sub;
				color: $color_black;
				transition: all .2s ease;
				&:hover {
					color: $color_yellow;
				}
			}
			a.active {
				color: $color_black;
				border-bottom: medium solid $color_yellow;
			}
			@media screen and (max-width:1200px){
				display: none;
			}
		}

		.hamburgerMenu{

			@media screen and (min-width:1199px) {
				display: none;
			}
		}

		.navLogo {
			justify-self: center;
			text-transform: uppercase;
			text-align: center;
			height: 70px;

			img{
				height: 100%;
				width: 100%;
				filter: brightness(.15);
			}

			@media screen and (max-width:1200px){
				justify-self: left;
			}
		}

		.navButtons {
			justify-self: end;
			display: flex;
			align-items: center;
			.searchBar {
				background-color: $searchBar-background;
				border-radius: 40px;
				button {
					margin: 0 18px;
					font-size: 18px;
					border: none;
					background-color: transparent;
					vertical-align: middle;
					cursor: pointer;
				}
				input {
					border: none;
					background-color: transparent;
					outline: none;
					line-height: 38px;
					padding-right: 20px;
					font-weight: 500;
					font-size: 16px;
				}
			}

			.login {
				padding: 0 20px;
				vertical-align: middle;
				.bi {
					font-size: 21px;
					vertical-align: middle;
					padding-left: 5px;
					transition: all .5s ease;
				}
				a {
					color: $color_black;
					vertical-align: sub;
					background-color: $color_background_yellow;
					padding: 10px 16px;
					border-radius: 25px;
				}
			}

			.navUtilButtons{
				margin: 0 15px;
				.bi{
					font-size: 24px;
					margin: 0 5px;
					color: black;
					cursor: pointer;
				}

				@media screen and (max-width:1200px){
					display: none;
				}
			}
		}
	}
}



