$color_1: black;
$color_2: #FCD107;
$color_3: white;
$background-color_1: white;
$background-color_2: #edede9;
$background-color_3: transparent;
$background-color_4: #FCD107;

nav {
	position: sticky;
	top: 0;
	background-color: $background-color_1;
	z-index: 10;
	padding: 16px 0;
	box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 6px -1px, rgba(0, 0, 0, 0.03) 0px 2px 4px -1px;
	.theHeader {
		max-width: 1660px;
		display: grid;
		grid-template-columns: 42.5% 15% 42.5%;
		justify-content: space-between;
		align-items: center;
		margin: auto;
		padding: 0 1%;

		.navItems {
			justify-self: start;
			a {
				text-decoration: none;
				margin: 0 20px;
				vertical-align: sub;
				color: $color_1;
				transition: all .2s ease;
				&:hover {
					color: $color_2;
				}
			}
			a.active {
				color: $color_1;
				border-bottom: medium solid $color_2;
			}
		}

		.navLogo {
			justify-self: center;
			text-transform: uppercase;
			text-align: center;
			height: 70px;

			img{
				height: 100%;
				width: 100%;
				filter: brightness(.15);
			}
		}

		.navButtons {
			justify-self: end;
			display: flex;
			align-items: center;
			.searchBar {
				background-color: $background-color_2;
				border-radius: 40px;
				button {
					margin: 0 18px;
					font-size: 18px;
					border: none;
					background-color: $background-color_3;
					vertical-align: middle;
					cursor: pointer;
				}
				input {
					border: none;
					background-color: $background-color_3;
					outline: none;
					line-height: 38px;
					padding-right: 20px;
					font-weight: 500;
					font-size: 16px;
				}
			}

			.login {
				padding: 0 20px;
				vertical-align: middle;
				.bi {
					font-size: 21px;
					vertical-align: middle;
					padding-left: 5px;
					transition: all .5s ease;
				}
				a {
					color: $color_1;
					vertical-align: sub;
					background-color: $background-color_4;
					padding: 10px 16px;
					border-radius: 25px;
				}
			}
		}
	}
}



